<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistics Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="javascript:void(0)"><img src="../../img/vshipper.png" style="height:40px"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navb" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-center" id="navb">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item"><a class="nav-link" href="../../../my_packages.html">My Packages</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                                                 data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../../account_settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container internal" ng-app="vshipper" ng-controller="MyAddressController">
    <h1 class="pagetitle">Add New Address</h1> 
    <div class="card bg-light">
        <div class="card-body">         
            <div class="card-text addshipment"> 
				<form id="add-address-form">			
                <span><input id="firstname" type="text" ng-model="firstname" placeholder="First Name" required></span> 
                <span><input type="text" ng-model="lastname" placeholder="Last Name" required></span>
                <span><input type="text" ng-model="company" placeholder="Company" required></span>
                <span><input type="text" ng-model="address1" placeholder="Address Line I" required></span>
                <span><input type="text" ng-model="address2" placeholder="Address Line II" required></span>
                <span><input type="text" ng-model="country" placeholder="Country" required></span>   
                <span><input type="text" ng-model="city" placeholder="City" required></span> 
                <span><input type="text" ng-model="pincode" placeholder="Pin Code" required></span> 
                <span><input type="text" ng-model="phone" placeholder="Phone" required></span>                
                <span class="fullwidth">
                    <input type="submit" ng-click = "addAddress()" value="Save" class="btn smallbtn">
				    <button id="myButton" class="btn smallbtn" onClick="location.href">Cancel</button>
                </span>
                </form>
            </div>        
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "http://localhost:3050/settings";
    };
</script>
<footer class="footer container-fluid text-center fixedfooter" >
    <p class="copyright">©2019. All rights reserved.</p>
</footer>
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../js/TokenHandler.js"></script>
<script src="../js/MyAddressController.js"></script>
<script src="../js/redirect.js"></script>

</body>
</html>
