<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistics Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="javascript:void(0)"><img src="../../img/vshipper.png" style="height:40px"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navb" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-center" id="navb">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item"><a class="nav-link" href="../../../my_packages.html">My Packages</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                                                 data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../../account_settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container internal" ng-app="vshipper" ng-controller="PaymentController">
    <div class="title">
        <span><h1 class="pagetitle">Order Summary</h1></span>
    </div>
    <div class="row">
        <div class="col-75">
            <div class="ordersummary">
                <div class="row">
                    <div class="cart">
                        <form id="regForm" action="success.html">
                            <div class="lineartabs">
                                <span class="step">Review Cart</span>
                                <span class="step">Delivery</span>
                                <span class="step active">Payment</span>
                            </div>
                            <div id="paypal-button-container"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-25">
            <div class="pricesummary">
                <h4>Order</h4>
                <p><a href="#">Delivery</a> <span class="price">${{quote.deliveryCharges}}</span></p>
                <p><a href="#">Shipping</a> <span class="price">${{quote.shippingCharges}}</span></p>
                <p><a href="#">Tax</a> <span class="price">${{quote.tax}}</span></p>
                <p><a href="#">Photo</a> <span class="price">${{quote.photos}}</span></p>
                <p><a href="#">Consolidation</a> <span class="price">${{quote.consolidation}}</span></p>
                <p><a href="#">Insurance</a> <span class="price">${{quote.insurance}}</span></p>
                <p><a href="#">Discount</a> <span class="price">-${{quote.discount}}</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>${{quote.total}}</b></span></p>
            </div>
        </div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=Af9-G7lcFCMudarzjhF6z6xLj0TIfh3qh9Zfb9dC3-PiZK6MEwT3ozzo9QS2MwKAEMwYTfCyliWQ2642"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/redirect.js"></script>
<script src="../js/TokenHandler.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../js/PaymentController.js"></script>
<footer class="footer container-fluid text-center">
    <p class="copyright">©2019. All rights reserved.</p>
</footer>


</body>
</html>
