<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistics Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="javascript:void(0)"><img src="../../img/vshipper.png" style="height:40px"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navb" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-center" id="navb">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item"><a class="nav-link" href="../../../my_packages.html">My Packages</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                                                 data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../../account_settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container internal" ng-app="vshipper" ng-controller="ReviewCartController">
    <div class="title">
        <span><h1 class="pagetitle">Order Summary</h1></span>
        <span>({{cart.length}} Item)</span>
    </div>
    <div class="row">
        <div class="col-75">
            <div class="ordersummary">
                <div class="row">
                    <div class="cart">
                        <form id="regForm" action="success.html">
                            <div class="lineartabs">
                                <span class="step active">Review Cart</span>
                                <span class="step">Delivery</span>
                                <span class="step">Payment</span>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Weight</th>
                                        <th>Declared Value</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in cart">
                                        <td><input type="checkbox" class="checkbox" ng-checked="item.selected" ng-model="item.selected" ng-click="updateTotalQuote()"></td>
                                        <td><a href="#">#{{item.id}}</a></td>
                                        <td>{{item.itemName}}</td>
                                        <td>{{item.actualWeight}}KG</td>
                                        <td>${{item.declaredValue}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="overflow:auto;">
                                <div class="cart_cta">
                                    <span><button type="button" id="nextBtn"
                                                  class="btn midbtn" ng-click="proceedToSelectDelivery()">Continue to Checkout</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-25">
            <div class="pricesummary">
                <div class="promocode"><h4>Promo Code</h4>
                    <input type="text" ng-model="promoCodeInput"/>
                    <input type="submit" value="Apply" class="btn" ng-click="applyPromoCode()">
                </div>
                <h4>Service Charges</h4>
                <p><a href="#">Consolidation</a> <span class="price">${{quote.consolidate}}</span></p>
                <p><a href="#">Photo</a> <span class="price">${{quote.photo}}</span></p>
                <p><a href="#">Discount</a> <span class="price">- ${{quote.discount}}</span></p>
                <p ng-repeat="code in promoCodes"><span class="text-right">{{code.code.toUpperCase()}}</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>${{quote.total}}</b></span></p>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../js/redirect.js"></script>
<script src="../js/TokenHandler.js"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <script src="../js/ReviewCartController.js"></script>
<footer class="footer container-fluid text-center">
    <p class="copyright">©2019. All rights reserved.</p>
</footer>
</body>
</html>
