<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistics Website- Success Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="javascript:void(0)"><img src="../../img/vshipper.png" style="height:40px"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navb" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-center" id="navb">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item"><a class="nav-link" href="../../../my_packages.html">My Packages</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                                                 data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../../account_settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container internal">
    <h1 class="pagetitle">Thank You!</h1>
    <div class="card bg-light">
        <div class="card-body">
            <div class="card-text addshipment">
                <p>We have received your order. We'll notify you once it reaches our warehouse.</p>
                <h2>Your payment is received!</h2>
            </div>
        </div>
    </div>
    <br/>
    <a href="/packages">Track Order</a>
</div>


<footer class="footer container-fluid text-center fixedfooter">
    <p class="copyright">©2019. All rights reserved.</p>
</footer>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

</body>
</html>
