<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistics Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand py-0" href="javascript:void(0)"><img src="../../img/vshipper.png" style="height:40px"></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                data-target="#navb" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-center" id="navb">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item"><a class="nav-link" href="../../../my_packages.html">My Packages</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop"
                                                 data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../../../account_settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container internal" ng-app="vshipper" ng-controller="ViewPackageController">
    <h1 class="pagetitle">View Package: #{{package.id}}</h1>
    <div class="bg-light viewpackage">
        <div class="package">
            <div class="row">
                <div class="col-3">
                    <img src="../../img/package.jpg" alt="Package Image" width="90%"/>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="formlabel">Item Name</div>
                        <div class="formdata">{{package.itemName}}</div>
                        <div class="formlabel">Tracking URL</div>
                        <div class="formdata">{{package.trackingURL}}</div>
                        <div class="formlabel">Ecommerce Provider</div>
                        <div class="formdata">{{package.eCommerceProvider}}</div>
                        <div class="formlabel">Logistics Provider</div>
                        <div class="formdata">{{package.logisticProvider}}</div>
                        <div class="formlabel">Courier Tracking ID</div>
                        <div class="formdata">#{{package.courierTrackingId}}</div>
                        <div class="formlabel">Declared Value</div>
                        <div class="formdata"><input type="text" ng-model="package.declaredValue"></div>
                        <div class="formlabel">Remark</div>
                        <div class="formdata"><input type="text" ng-model="package.remark"></div>
                    </div>
                </div>
            </div>
            <div class="productgallery">
                <h2>Product Images</h2>
                <div class="row">
                    <img class="thumb" src="../../img/pack1.jfif" onclick="openModal();currentSlide(1)"
                         class="hover-shadow cursor">
                    <img class="thumb" src="../../img/pack2.jfif" onclick="openModal();currentSlide(2)"
                         class="hover-shadow cursor">
                    <img class="thumb" src="../../img/pack3.jfif" onclick="openModal();currentSlide(3)"
                         class="hover-shadow cursor">
                </div>
                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        <div class="mySlides">
                            <img class="large" src="../../img/pack1.jfif">
                        </div>
                        <div class="mySlides">
                            <img class="large" src="../../img/pack2.jfif">
                        </div>
                        <div class="mySlides">
                            <img class="large" src="../../img/pack3.jfif">
                        </div>

                        <!-- Next/previous controls -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Back" class="btn smallbtn" onclick="javascript:history.back()">
    </div>
</div>

<footer class="footer container-fluid text-center fixedfooter">
    <p class="copyright">©2019. All rights reserved.</p>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/lightbox.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../../js/redirect.js"></script>
<script src="../../js/TokenHandler.js"></script>
<script src="../../js/ViewPackageController.js"></script>
</body>
</html>
